$border-color: $text !default
.border-dotted
	border: 1px dotted $border-color

.link-decoration
	text-decoration: none
	color: $text
	font-weight: 400
	position: relative
	&:before
		content: ''
		width: 0
		height: 1px
		background-color: $text
		position: absolute
		left: 0
		bottom: -4px
		transition: width .25s ease-in-out
	&:hover
		color: $text
		&:before
			width: 100%

// SIZES
.w-52
	width: 52px
.h-52
	height: 52px

// TEXT
.fw-medium
	font-weight: 500

// ICONS
.icon-link-hover
	transition: all .25s ease
	svg
		transition: all .25s ease
.icon-link-dark
	svg
		fill: $text
	&:hover
		background-color: $text
		svg
			fill: $white
