@import "vars"
@import "fonts"
@import "libs"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 300
	color: $text
	text-align: center
a
	color: $accent
	font-weight: bold
	text-decoration: none
	transition: all .25s ease
	&:hover
		text-decoration: none
		color: $accent
img
	display: block
	max-width: 100%
	height: auto

b, strong
	font-weight: bold

.visually-hidden 
	position: absolute
	clip: rect(0 0 0 0)
	width: 1px
	height: 1px
	margin: -1px

.wrapper
	max-width: 600px
	width: 100%
	padding: 0 15px
	margin: 0 auto

.sentence
	font-size: 16px
	text-transform: uppercase
	font-weight: 500

.social
	&__list
		padding: 20px 0
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
	&__link
		background-color: transparent
		color: $accent
		display: flex
		align-items: center
		font-weight: 300
		text-transform: uppercase
		font-size: 12px
		padding: 10px 20px
		margin: 1%
		border-radius: 50px
		border: 2px solid $accent
		&:hover
			color: #fff
			background-color: $accent
		img, svg
			width: 20px
			height: 100%
			margin-right: 5px
		svg
			fill: $accent
			transition: all .25s
		&--vk
			border-color: $vk
			color: $vk
			svg
				fill: $vk
			&:hover
				background-color: $vk
				color: #fff
				svg
					fill: #fff
		&--od
			border-color: $od
			color: $od
			svg
				fill: $od
			&:hover
				background-color: $od
				color: #fff
				svg
					fill: #fff
