@import "vars"
@import "fonts"
@import "libs"


html
	margin-left: calc(100vw - 100%)
	margin-right: 0
	scroll-behavior: smooth

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 300
	color: $text
	text-align: center
	scroll-behavior: smooth
a
	color: $yellow
	font-weight: bold
	text-decoration: none
	transition: all .4s ease
	&:hover
		color: $text
		text-decoration: none
	@include media-breakpoint-up(lg)
		&:hover
			text-decoration: none
			color: $yellow
img
	display: block
	max-width: 100%
	height: auto

b, strong
	font-weight: bold

.visually-hidden
	position: absolute
	clip: rect(0 0 0 0)
	width: 1px
	height: 1px
	margin: -1px

main
	@include media-breakpoint-down(sm)
		flex: 1 0 auto

header
	@include media-breakpoint-down(sm)
		flex: 0 0 auto

.logo
	color: $black
	display: flex
	align-items: center
	justify-content: space-between
	margin: 50px 0 40px
	position: relative
	@include media-breakpoint-down(sm)
		margin: 30px 0
	&:hover
		color: $black
	&-disable::before
		content: ''
		position: absolute
		top: 0
		left: 43%
		height: 100%
		width: 2px
		background-color: $midnight
		@include media-breakpoint-down(sm)
			left: 42%
	&-line
		height: 70px
		width: 2px
		background-color: $midnight
		@include media-breakpoint-down(sm)
			height: 45px
	&-img
		width: 200px
		flex: 0 0 auto
		@include media-breakpoint-down(sm)
			width: 34%
	&-text
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		font-size: 26px
		font-weight: 500
		@include media-breakpoint-down(sm)
			font-size: 4.5vw
		span
			white-space: nowrap
			line-height: 1
	&-title
		padding-bottom: 8px
		@include media-breakpoint-down(sm)
			padding-bottom: 4px
	&-subtitle
		padding-top: 8px
		font-size: 24px
		color: $midnight
		font-weight: 300
		@include media-breakpoint-down(sm)
			font-size: 4vw
			padding-top: 4px

.appeal
	margin: 0
	font-size: 24px
	letter-spacing: 0.6px
	line-height: 1.4
	@include media-breakpoint-down(sm)
		font-size: 20px
		br
			display: none
	b
		color: $green
		font-weight: 500
.kia-hint
	padding: 5px 10px
	font-size: 16px
	text-align: center
	background-color: $black
	color: rgba($white, .8)
	line-height: 1.4
	white-space: nowrap
	display: inline-block
	height: auto
	position: relative
	left: -10px
	vertical-align: middle


.wrapper
	max-width: 600px
	width: 100%
	padding: 0 15px
	margin: 0 auto
	position: relative
	@include media-breakpoint-down(sm)
		display: flex
		flex-direction: column

.bottom-mobile
	@include media-breakpoint-down(sm)
		flex: 0 0 auto

h2, h3
	font-weight: 500

h2
	font-size: 24px
	margin-bottom: 20px
	letter-spacing: 0.6px
	// text-transform: uppercase
	span
		font-weight: 700
		color: $yellow

.icon-block
	padding: 30px 0
	border-bottom: 1px solid rgba($midnight, .5)
	&:last-child
		border-bottom: 0
	&__list
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
		width: 100%

.icon-link
	flex: 0 0 80px
	font-weight: 500
	margin: 1%
	&:hover
		span
			color: rgba($midnight, .8)
	span
		line-height: 1.2
		color: rgba($midnight, .5)
		transition: all .25s ease
		display: block
	svg
		width: 53px
		height: auto
		transition: all .25s ease




.service-block
	.icon-link
		flex: 0 0 80px
		font-weight: 500
		margin: 1%
		&:hover
			svg
				background-color: $midnight
				path
					fill: $white
		svg
			border: 1.5px solid $midnight
			border-radius: 50%
			margin-bottom: 10px
			path
				fill: $midnight
				transition: all .25s ease


.social
	&__link
		background-color: transparent
		color: $accent
		display: flex
		align-items: center
		font-weight: 500
		text-transform: uppercase
		font-size: 14px
		padding: 10px 10px
		margin: 1%
		border-radius: 50px
		border: 2px solid $accent
		@media (max-width: 390px)
			margin: 2% 6%
		@media (max-width: 335px)
			margin: 2% 4%
		> span
			display: none

		&:hover
			color: $white
			background-color: $green
			svg
				fill: $white
		svg
			width: 29px
			height: 100%
			transition: all .4s
		&--vk
			border-color: $vk
			color: $vk
			svg
				fill: $vk
			&:hover
				background-color: $vk
				color: $white
		&--ok
			border-color: $od
			color: $od
			svg
				fill: $od
			&:hover
				background-color: $od
				color: $white
		&--facebook
			border-color: $fb
			color: $fb
			svg
				fill: $fb
			&:hover
				background-color: $fb
				color: $white
		&--youtube
			border-color: $youtube
			color: $youtube
			svg
				fill: $youtube
			&:hover
				background-color: $youtube
				color: $white
		&--tiktok
			border-color: $tiktok
			color: $tiktok
			width: 53px
			height: 53px
			&:hover
				background-color: $tiktok
				color: $white
		&--instagram
			border: none
			background: linear-gradient(45deg, #FFD521 0%, #F50000 37%, #B900B4 65%, #00B9FF 100%)
			color: #B900B4
			position: relative
			z-index: 1
			&:before
				content: ''
				display: block
				position: absolute
				top: 2px
				right: 2px
				bottom: 2px
				left: 2px
				background-color: $white
				z-index: -1
				border-radius: inherit
				opacity: 1
				transition: all .4s
			svg
				fill: url(#SVGID_1_)
				transition: all .4s
			&:hover
				color: $white
				background: linear-gradient(45deg, #FFD521 0%, #F50000 37%, #B900B4 65%, #00B9FF 100%)
				&:before
					opacity: 0
				svg
					fill: $white

hr
	opacity: 1
	margin: 20px 0
.mes__list
	display: flex
	align-items: center
	justify-content: center
	a
		width: 50px
		height: 50px
		svg
			width: 50px
			height: 50px
		display: block
		margin: 10px 5px
		transform: scale(1)
		&:hover
			transform: scale(1.1)
		@include media-breakpoint-down(lg)
			&.viber-pc
				display: none
		@include media-breakpoint-up(lg)
			&.viber-mobile
				display: none

.add-review
	position: relative
	background-color: $white
	overflow: hidden
	z-index: 1
	@include media-breakpoint-down(sm)
		margin-left: -15px
		margin-right: -15px
	&__list
		display: flex
		align-items: center
		justify-content: center
	&__link
		position: relative
		margin: 0 1% 15px
		text-align: center
		display: inline-block
		width: 53px
		font-weight: 500
		color: rgba($midnight,.5)
		transition: all .3s ease
		span
			display: block
			margin-top: 60px
		&.active
			color: rgba($midnight,.8)
			.add-review__icon._active
				opacity: 0
				visibility: hidden
			.add-review__icon._hover
				opacity: 1
				visibility: visible
		@include media-breakpoint-up(lg)
			&:hover
				color: rgba($midnight,.8)
				.add-review__icon._active
					opacity: 0
					visibility: hidden
				.add-review__icon._hover
					opacity: 1
					visibility: visible
	&__icon
		width: 53px
		height: 53px
		position: absolute
		left: 0
		top: 0
		transition: all .5s ease
		&._hover
			opacity: 0
			visibility: hidden

.map
	transition: all .5s
	scroll-behavior: smooth

.map-block
	max-width: 600px
	width: 100%
	margin: 0 auto
	transition: height .3s ease-out
	overflow: hidden
	position: relative
	&:not(.active)
		// display: none
		height: 0
	h3
		margin-bottom: 20px
		font-size: 16px
	img
		max-width: 100%
		width: 100%

.add-screenshot
	transition: height .3s ease-out
	// overflow: hidden
	display: block
	height: auto
	&:not(.active)
		height: 0
		display: none

form
	max-width: 400px
	width: 100%
	margin: 0 auto

.kia-form-group
	height: 60px
	transition: all .25s ease-out
	background-color: transparent
	position: relative
	display: flex
	flex-direction: column-reverse
	font-size: 15px
	label
		position: absolute
		left: 0
		top: 70%
		transform: translateY(-50%)
		transform-origin: left top
		cursor: text
		transition: all 0.25s
		color: #697279
		font-size: 15px
		.error-message
			color: red
			opacity: 0
			transition: all 0.25s
	input
		border: none
		height: 70%
		width: 100%
		padding: 5px 0 0
		border-bottom: 1px solid #cdd0d2
		outline: 0
		// position: relative
		// z-index: 1
		background-color: transparent !important
		&:focus:required:invalid ~ label > .error-message
			opacity: 1
		&:focus
			border: none
			border-bottom: 1px solid #000
	input:focus ~ label,
	input:not(:placeholder-shown) ~ label
		top: 33%
		left: 0
		transform: translateY(-50%) scale(0.8)
	&.disabled
		cursor: default
		opacity: 0.6
		input, label
			cursor: default
.d-flex
	display: flex
	align-items: center

.form-group
	text-align: left
	margin-top: 1.5rem

.checkbox-control
	display: table
	position: relative
	cursor: pointer
	margin: 0

.agree
	position: absolute
	z-index: -1
	opacity: 0
	width: 0
	height: 0
	margin: 0

.checkbox-indicator
	position: relative
	display: inline-block
	vertical-align: middle
	height: 20px
	width: 20px
	border: 1px solid $text
	box-sizing: border-box
	margin-right: 10px
	margin-top: -5px
	transition: all .2s
	opacity: .2

.checkbox-indicator:after
	content: ""
	width: 10px
	height: 10px
	background-image: url(/img/icons/icon-checkbox.svg)
	background-size: cover
	background-position: 50%
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	opacity: 0
	transition: all .2s

.checkbox-control .agree:checked~.checkbox-indicator,
.checkbox-control .agree:checked~.checkbox-indicator:after,
.checkbox-indicator:hover
	opacity: 1

form small
	font-size: 14px
	font-weight: 300

form small a
	text-decoration: none
	border-bottom: 1px solid $text
	box-shadow: inset 0 0 0 0 $text
	color: $text
	font-weight: 300

.btn
	background-color: $text
	color: #fff
	border: none
	font-weight: 700
	padding: 15px 30px

.swal2-close:hover
	color: $text !important
.policy-title
	color: $text
	font-size: 18px
	text-align: left
	border-bottom: 1px solid #cdd0d2
	padding: 1rem 0 1.5rem
	@include media-breakpoint-down(md)
		font-size: 16px

.policy-text
	color: $text
	text-align: left
	font-size: 15px
	ol, ul
		padding-left: 23px
	@include media-breakpoint-down(md)
		font-size: 14px

.swal2-html-container
	@include media-breakpoint-down(md)
		margin: 1em !important

.dealer-link
	position: absolute
	width: 25%
	height: 20%
	background-color: transparent
	z-index: 1
	&.samara
		left: 18%
		top: 70%
		width: 20%
	&.moscow
		left: 38%
		top: 34%
	&.mexico
		right: 14%
		top: 11%
		width: 20%

.classified
	margin-top: 20px
	h2
		font-weight: bold
	&__list
		display: flex
		align-items: stretch
		justify-content: space-around
		margin: 20px 0
	&__link
		flex: 0 1 20%
		position: relative
		display: inline-block
		padding-bottom: 3px
		@include media-breakpoint-down(sm)
			flex: 0 1 26%
		&:before
			content: ''
			display: inline-block
			width: 70%
			height: 2px
			position: absolute
			left: 50%
			top: 100%
			transform: translate(-50%, 5px)
			background-color: $yellow
			filter: blur(1px)
			border-radius: 50% / 100%
			opacity: 0
			transition: all .3s ease-out
		&:hover, &.active
			&:before
				opacity: 1
				transform: translate(-50%, 0)
	&__icon
		width: auto
		height: 100%
	&__sublist
		transition: height .3s ease-out
		// overflow: hidden
		// position: relative
		display: flex
		height: auto
		justify-content: space-around
		&:not(.active)
			display: none
			height: 0
		padding: 20px 0
		@include media-breakpoint-down(sm)
			padding-top: 0
	&__sublink
		padding: 0 10px
		text-align: center
		display: inline-block
		text-transform: uppercase
		color: $text
		opacity: 0.7
		transition: opacity .3s ease
		position: relative
		@include media-breakpoint-down(sm)
			font-size: 15px
		&:before
			content: ''
			display: inline-block
			width: 30%
			height: 2px
			position: absolute
			left: 50%
			top: 100%
			transform: translate(-50%, 5px)
			background-color: $yellow
			filter: blur(1px)
			border-radius: 50% / 100%
			opacity: 0
			transition: all .3s ease-out
		&:hover, &.active
			opacity: 1
			color: $text
			&:before
				opacity: 1
				transform: translate(-50%, 0)


.loader
	position: absolute
	z-index: 9
	top: -100%
	left: 0
	box-sizing: border-box
	width: 100%
	height: 100%
	overflow: hidden
	color: $midnight
	transition: opacity .7s ease
	opacity: 0
	background-color: rgba($midnight, .55)
	&:after,
	&:before
		box-sizing: border-box
	&.is-active
		top: 0
		opacity: 1
	&-default:after
		position: absolute
		top: calc(50% - 24px)
		left: calc(50% - 24px)
		width: 48px
		height: 48px
		content: ''
		-webkit-animation: rotation 1s linear infinite
		animation: rotation 1s linear infinite
		border: solid 8px $white
		border-left-color: transparent
		border-radius: 50%

#map
	position: relative
	z-index: 7
	width: 100%
	display: block
	height: 100%
	cursor: pointer
	background-color: transparent

@-webkit-keyframes rotation
	from
		transform: rotate(0)
	to
		transform: rotate(359deg)

@keyframes rotation
	from
		transform: rotate(0)
	to
		transform: rotate(359deg)

@-webkit-keyframes blink
	from
		opacity: .5
	to
		opacity: 1

@keyframes blink
	from
		opacity: .5
	to
		opacity: 1


// Dropzone
.kia-dropzone
	max-width: 400px
	width: 100%
	margin: 2.5rem auto 0
.file-upload
	border: 1px dashed #000
	min-height: 0
	&:not(.dz-started)
		padding: 3rem 2rem
	.dz-message
		margin: 0 auto
	.dz-preview
		// margin: 0
		.dz-image
			margin: 0 auto

.success-message, .error-message
	max-width: 400px
	width: 100%
	font-size: 12px
	text-align: left
	margin: .5rem auto
	display: none

.success-message
	color: $green
.error-message
	color: $accent

.form-message
	font-weight: bold
	margin-top: 1rem
	color: $green

.btn[disabled]
	opacity: 0.6